certifi==2021.5.30
chardet==4.0.0
click==8.0.1
idna==2.10
joblib==1.0.1
nltk==3.6.2
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
six==1.16.0
tqdm==4.61.0
urllib3==1.26.5
vaderSentiment==3.3.2
flask~=0.12
flask-assistant~=0.2
flask-cors~=3.0
Speedtest-cli==2.1.3